.model-page {
  border: 1px solid #000;
  // background: grey;
  display: flex;
  .navigation-side {
    // background: blue;
    border: 1px solid blue;
    // width: 100%;
  }
  .right-side {
    // background: grey;
    border: 1px solid red;
    width: 100%;
    h1, h3 {
      text-align: center;
    }
    .img-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      border: 1px solid #000;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      img {
        border: 1px solid yellow;
        width: 100%;
      }
    }
  }
}