nav {
  border-right: 1px solid gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;

  .logo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    img {
      height: 50px;
    }
  }

  .logout-btn {
    text-align: center;

    button {
      text-transform: uppercase;
      background: transparent;
      cursor: pointer;
      padding: 5px;
      border-radius: 6px;
      border: 1px solid #000;

      &:hover {
        background: red;
        color: #fff;
        border: 1px solid red;
      }
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

    a {
      text-decoration: none;
      margin-top: 15px;
      margin-left: 10px;
      color: #000;
    }

    .selected {
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px;
      background: #97bf0f;
      color: #fff;
    }
  }

  .nav-bottom {
    text-align: center;

    a {
      margin: 5px;
    }

    span {
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 15px;
      display: block;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1024px) {
  nav {
    background: rgba(252, 252, 252, 0.418);
    position: fixed;
    z-index: 100;

    .logout-btn {
      display: flex;
      justify-content: center;
    }
  }
}
