nav {
  border: 1px solid blue;
  .logo {
    img {
      height: 50px;
    }
  }

  .nav-links {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    .selected {
      color: blue;
      font-weight: bold;
      text-transform: uppercase;
    }
    // a {
    //   text-decoration: none;
    // }
  }

  .nav-bottom {
    border: 1px solid #000;
  }
}